.heading {
    float: left;
}

p {
    display: inline
}

.input_field {
    float: right;
}

.input {
    vertical-align: middle;
    padding: 5px 100px 5px 5px;
    text-align: right;
}

.selector {
    width: 130px
}