.heading {
    float: left;
}

p {
    display: inline
}

.input_field {
    float: right;
}

.input {
    vertical-align: middle;
    padding: 5px 20px 5px 5px;
    text-align: right;
}

.selector {
    width: 180px
}

.selector_1 {
    width: 50px;
}

.selector_2 {
    width: 120px;
}

.center {
    display: block;
    width: 100px;
    margin: auto;
}