/*
 * RubyGrid CSS StyleSheet for Sketchup WebDialog Boxes
 *
 * This module creates a responsive style optimized for
 * Sketchup's WebUI dialog boxes
 *
 * :P
 */

.block {
    width : 100%;
    max-width : 800px;
    margin: auto;
}

.block *{
    box-sizing: border-box;
}

.row:before,
.row:after {
    content : "";
    display : table;
    clear : both;
}

[class*='col-'] {
    float : left;
    min-height : 1px;
    width : 16.66%;
    padding : 12px;
}

.col-third {
    width : 33.33%;
}

.col-half {
    width : 50%;
}

.col-full {
    width : 100%
}

/**/
